.PerfilAluno {
  background: azure;
  height: 100%;
}

.containerPerfil {
  background-color: red;
  /* Isso muda o tamanho do cantainer */
  padding: 0;
  margin: 0 auto;
  height: 80%;
}

.rowDados {
  background-color: purple;
}
/*Card com imagem*/
.ColunaImg{
  background-color: green;
  margin-left: 25%;
}

.FotoPerfilAluno{
  margin-bottom: 5px;
  margin-right: 5px;;
}

.FotoPerfilAluno img{
  width: 100%;
  margin: 0%;
  margin-bottom:5px;
}

.FotoPerfilAluno .Text{
  color: purple;
}

/*Card Perfil*/

.ColunaDados{
  background-color: blue;
}

.cardPerfil {
  position: relative;
  height: 100% !important;
  width: 100% !important;
  margin: auto;
  padding: 10px;
  background-color: cadetblue;
  color: red;
  font-size: 20px;
  word-wrap: break-word;
  text-align: left; 
  line-height: 150%;
}

.botoesFormPerfil button{
  color: white;
  padding: 12px 18px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height: auto;
  width: auto;
  font-size: 100%;
  border-radius: 24px;
  text-align: center;
  transition: all 500ms;
  margin-right: 20px;  margin-left: 20px;
  margin-top: 30px;
}

.botoesFormPerfil button:hover {
  transform: scale(0.98);
  transition: all 500ms;
}

.tabelaPerfil {
  margin-top: 30px;
  padding: 20px;
}

button {
  background-color: red;
}
