.Home {
  height: 100%;
}
.containerHome {
  background-color: #fff;
  /* Isso muda o tamanho do cantainer */
  padding: 0;
  margin: 0 auto;
  height: 80%;
}

.Listas {
  margin: auto;
}
.Listas h2 {
  padding-top: 50px;
  padding-bottom: 50px;
  box-align: center;
}

.input {
  color: black;
}

.containerAlunos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: red; */
}

.containerProfessores {
  display: block;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  /* background-color: purple; */
}