.Home {
  height: 100%;
}
.container {
  background-color:#fff;
}

.Listas {
  margin: auto;
}
.Listas h2 {
  padding-top: 20px;
  box-align: center;
}

.input {
  color: black;
}

.containerAlunos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
