.NavBar{
  background-color: #242424 !important;
}

.navbar-brand{
 padding: 5px 10px;
}

.nav-item{
  color: #fff;
}

.NomeUsuario{
  padding: 7px 20px;
}

.grupoUsuario{
  margin-right: 1%;
}

.me-auto{
  font-size:20px;
}

.LinkNavBar {
  color: silver !important;
}

.NavBar a{
  color: white !important;
  text-decoration: none !important;
  margin: 5px;
}

.grupoUsuario Button{
  background-color: #dba520;
}
