.PerfilAluno {
  height: 100%;
  width: 100%;
}

.containerPerfilAdd {
  background-color: #f2f1f2;

  /* Isso muda o tamanho do cantainer */
  padding: 0;
  margin: 0 ;
  height: 100%;
  width: 100%;
  margin-top: 6em;

}

.rowDadosAddProf {
  background-color: #fff !important;
  color: #111;
  padding-top: 2em;
  padding: 3em;
  box-shadow: 1px 1px 5px 0px #888888;
  margin-bottom: 2em;
  align-items: center;
}

.rowPerfil {
  background-color: #fff !important;
  padding-top: 2em;
  box-shadow: 1px 1px 5px 0px #888888;
  margin-bottom: 2em;
}


/*Card com imagem*/
.ColunaImgPerfil{
  align-self: center;
  margin-left: 25%;
}

.FotoPerfilAluno{
  padding-bottom: 20%;
  margin-bottom: 5px;
  align-self: center;
  text-align: center;
  height:100%;
}

.FotoPerfilAluno img{
  width: 110%;
  margin: 0%;
  margin-bottom:5px;
  border-radius: 100%;
}

/*Card Perfil*/


.cardPerfil {
  position: relative;
  height: 100% !important;
  width: 100% !important;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
  text-align: left; 
  line-height: 150%;
}

.botoesFormPerfil button{
  color: white;
  padding: 10px 32px;
  margin: 8px 0;
  cursor: pointer;
  height: auto;
  font-size: 1em;
  border-radius: 24px;
  text-align: center;
  transition: all 500ms;
  margin-top: 30px;
  margin-left: 10px;
  align-self: center;
}

.botoesFormPerfil a{
  color: white !important;
  text-decoration: none;
}

.botoesFormPerfil button:hover {
  transform: scale(0.98);
  transition: all 500ms;
}


.botoesFormPerfilAddProf button{
  color: white;
  padding: 10px 32px;
  margin: 8px 0;
  cursor: pointer;
  height: auto;
  font-size: 1em;
  border-radius: 24px;
  text-align: center;
  transition: all 500ms;
  margin-top: 30px;
  margin-right: 15px;
  align-self: center;
  text-decoration: none;
}

.botoesFormPerfilAddProf button:hover {
  transform: scale(0.98);
  transition: all 500ms;
}

.tabelaPerfil {
  margin: 30px;
  padding: 20px;
  width: 100%;
  /* background-color: red; */
}

/* form input{
  color:black !important;
} */


form input[type=date], form input[type=date]::-webkit-datetime-edit {
  color: gray;
  width: 100%;
  height: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1px 5px;
}

form input[type=date]{
  border: 1px solid #dba520;
  outline: none;
  outline-style: none;
}

form input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.cardPerfil select{
  background-color: #fff;
  color: #111;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 2% 1px;
  border: 1px solid #dba520;
}
