.Cadastro {
  height: 100vh;
  font-family: Nunito Sans;
  background-color: #111;
}

.teste {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
}


.tamanho {
  color: #dddddd;
  width: 80%;
  height: 100%;
  margin: auto;
  /* background-color: white; */
}

/* Sumindo com o Welcome no mobile */

@media screen and (max-width: 960px) {
  .left {
    display: none;
  }

  .right {
    width: 100%;
  }
}